@model PaymentAutomationLC.ViewModels.PaymentProfileViewModel
@{
    ViewData["Title"] = "AddProfile";
}

<h1>New Payment Profile</h1>

<form asp-controller="PaymentProfile" asp-action="New" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="PayPerArticle"></label>
        <input asp-for="PayPerArticle" />
        <span asp-validation-for="PayPerArticle"></span>
    </div>
    <div class="form-group">
        <label asp-for="ArticleBonus"></label>
        <input asp-for="ArticleBonus" />
        <span asp-validation-for="ArticleBonus"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinimumPVForBonus"></label>
        <input asp-for="MinimumPVForBonus" />
        <span asp-validation-for="MinimumPVForBonus"></span>
    </div>
    <input type="submit" value="Add Profile" />
</form>