@model PaymentAutomationLC.ViewModels.PaymentProfileViewModel
@{
    ViewData["Title"] = "AddProfile";
}

<h1>New Payment Profile</h1>

<form asp-controller="PaymentProfile" asp-action="New" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="PayPerArticle"></label>
        <input asp-for="PayPerArticle" />
    </div>
    <div class="form-group">
        <label asp-for="ArticleBonus"></label>
        <input asp-for="ArticleBonus" />
    </div>
    <div class="form-group">
        <label asp-for="MinimumPVForBonus"></label>
        <input asp-for="MinimumPVForBonus" />
    </div>
    <input type="submit" value="Add Profile" />
</form>