@model PaymentAutomationLC.ViewModels.NewUserViewModel
@{
    ViewData["Title"] = "New User";
}

<h1>New User</h1>

<form asp-controller="User" asp-action="New" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control col-md-6" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control col-md-6"/>
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control col-md-6"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentProfileId"></label>
        <select asp-for="PaymentProfileId" asp-items="Model.PaymentProfiles" class="form-control col-md-6"></select>
    </div>
    <div class="form-group">
        <label asp-for="IdentityRoleId"></label>
        <select asp-for="IdentityRoleId" asp-items="Model.IdentityRoles" class="form-control col-md-6"></select>
    </div>
    <input type="hidden" asp-for="DateAdded" value="@DateTime.Now" />
    <input type="submit" value="Add User" class="btn btn-primary"/>
</form>
