@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Payment" asp-action="Index">View Payments</a>
    <a asp-controller="Payment" asp-action="New">New Payment</a>
    <a asp-controller="Payment" asp-action="Profiles">Payment Profiles</a>
</div>
