@model ApplicationUser
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome @Model.FirstName!</h1>
        <a class="btn btn-primary" asp-controller="Payment" asp-action="Index">View Payments</a>
        <a class="btn btn-primary" asp-controller="Payment" asp-action="New">New Payment</a>
        <a class="btn btn-primary" asp-controller="PaymentProfile" asp-action="Index">Payment Profiles</a>
        <a class="btn btn-primary" asp-controller="User" asp-action="Index">View Users</a>
    </div>
