@model ApplicationUser
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome @Model.FirstName!</h1>
        <div class="row justify-content-center">
            <div class="card col-md-4 border-0">
                <div class="card-body">
                    <a class="btn card-title" asp-controller="Payment" asp-action="Index">
                        <i class="far fa-folder fa-9x"></i>
                        <h5>Payments</h5>
                    </a>
                </div>
            </div>
            <div class="card col-md-4 border-0">
                <div class="card-body">
                    <a class="btn card-title" asp-controller="User" asp-action="Index">
                        <i class="far fa-folder fa-9x"></i>
                        <h5>Users</h5>
                    </a>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" asp-controller="Payment" asp-action="New">New Payment</a>
        <a class="btn btn-primary" asp-controller="PaymentProfile" asp-action="Index">Payment Profiles</a>
    </div>
