@model IList<PaymentAutomationLC.Models.Payment>
@{
    ViewData["Title"] = "Index";
}

<h1>View Payments</h1>
<a class="btn btn-primary" asp-controller="Payment" asp-action="New">New Payment</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Articles</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var payment in Model)
        {
            <tr>
                <td>@payment.MonthYear</td>
                <td>
                    <a asp-controller="Payment" asp-action="Articles" asp-route-paymentMonthYear="@payment.MonthYear">View</a>
                </td>
                <td>
                    <a asp-controller="Payment" asp-action="Summary" asp-route-id="@payment.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>