@model PaymentAutomationLC.ViewModels.NewPaymentViewModel
@{
    ViewData["Title"] = "New";
}

<h1>New Payment</h1>

<form asp-controller="Payment" asp-action="New" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="MonthYear"></label>
        <input asp-for="MonthYear" />
        <span asp-validation-for="MonthYear"></span>
    </div>
    <div class="form-group">
        <label asp-for="File">Select .csv file to upload: </label>
        <input asp-for="File"/>
        <span asp-validation-for="File"></span>
    </div>
        <input type="submit" value="Upload"/>
</form>